.btn {
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border: 0;
    text-transform: uppercase;
    border-radius: 2px;

    &:not(.btn-link):not(.btn-float):not(.command-edit):not(.command-delete):not(.selectpicker) {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

        &:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        }
    }

    .caret {
        margin-top: -3px;
    }
}

.btn[class*=bgm-] {
    color: #fff;
}

.btn-group:not(.bootstrap-select), .btn-group-vertical:not(.bootstrap-select) {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
}

.btn-group .btn, .btn-group-vertical .btn, .btn-group .btn:active, .btn-group-vertical .btn:active, .btn-group .btn:focus, .btn-group-vertical .btn:focus, .btn-group .btn-group, .btn-group-vertical .btn-group {
    box-shadow: none!important;
}

.btn-group .btn, .btn-group-vertical .btn {
    margin: 0;
}

.btn-xs, .btn-group-xs>.btn {
    padding: 2px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-link {
    color: #797979;
    text-decoration: none;
    border-radius: 2px;

    &:hover {
        color: #0a0a0a;
        text-decoration: none;
    }

    &:active, &:focus {
        text-decoration: none;
    }
}

.btn-inverse {
    color: #fff;
    background-color: #454545;
    border-color: transparent;

    &:focus, &.focus, &:hover {
        color: #fff;
        background-color: #454545;
        border-color: transparent;
    }

    &:active, &.active {
        color: #fff;
        background-color: #454545;
        border-color: transparent;
        background-image: none;

        &:hover, &:focus, &.focus {
            color: #fff;
            background-color: #1a1a1a;
            border-color: rgba(0, 0, 0, 0);
        }
    }

    .badge {
        color: #454545;
        background-color: #fff;
    }
}

.open>.dropdown-toggle.btn-inverse:hover, .open>.dropdown-toggle.btn-inverse:focus, .open>.dropdown-toggle.btn-inverse.focus {
    color: #fff;
    background-color: #1a1a1a;
    border-color: rgba(0, 0, 0, 0);
}

.open>.dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #454545;
    border-color: transparent;
    background-image: none;
}

.btn-inverse.disabled, .btn-inverse[disabled], fieldset[disabled] .btn-inverse, .btn-inverse.disabled:hover, .btn-inverse[disabled]:hover, fieldset[disabled] .btn-inverse:hover, .btn-inverse.disabled:focus, .btn-inverse[disabled]:focus, fieldset[disabled] .btn-inverse:focus, .btn-inverse.disabled.focus, .btn-inverse[disabled].focus, fieldset[disabled] .btn-inverse.focus, .btn-inverse.disabled:active, .btn-inverse[disabled]:active, fieldset[disabled] .btn-inverse:active, .btn-inverse.disabled.active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse.active {
    background-color: #454545;
    border-color: transparent;
}

.btn-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    position: relative;

    &:before {
        right: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(0, 0, 0);
        -moz-transform: scale3d(0, 0, 0);
        -ms-transform: scale3d(0, 0, 0);
        -o-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        -webkit-transition: all;
        -moz-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: 50%;
        z-index: 0;
        border-radius: 300ms;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    &:hover {

        .md {
            -webkit-transform: rotate(-360deg);
            -ms-transform: rotate(-360deg);
            -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }

        &:before {
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            -o-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }

    .md {
        -webkit-transition: all;
        -moz-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        font-size: 17px;
    }

    &.btn-default:hover {
        background: @btn-default-bg-color;
    }
}


.btn-float {
    width:50px;
    height:50px;
    border-radius:50%;
    position:absolute;
    line-height:40px

    &:hover {
    box-shadow:0 2px 7px rgba(0,0,0,.18)
}

i {
-webkit-transition:all;
-moz-transition:all;
-o-transition:all;
transition:all;
-webkit-transition-duration:500ms;
transition-duration:500ms
}
}

.btn-float:not(.bgm-white):not(.bgm-gray)>i {
    color: #fff;
}

.btn-float.bgm-white>i, .btn-float.bgm-gray>i {
    color: #333;
}

.open .btn {
    outline: 0!important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;

    &:focus, &:active {
        outline: 0!important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    }
}

.btn-primary {
    color: #fff;
    background-color: @material-primary;
    border-color: #0d8aee;

    &:focus, &.focus {
        color: #fff;
        background-color: @material-primary;
        border-color: transparent;
    }

    &:hover {
        color: #fff;
        background-color: @material-primary;
        border-color: transparent;
    }

    &:active, &.active {
        color: #fff;
        background-color: @material-primary;
        border-color: transparent;
        background-image: none;

        &:hover, &:focus, &.focus {
            color: #fff;
            background-color: #0a68b4;
            border-color: #064475;
        }
    }

    .badge {
        color: @material-primary;
        background-color: #fff;
    }
}


.open>.dropdown-toggle.btn-primary:hover, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: @material-primary;
    border-color: #064475;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: @material-primary;
    border-color: #0d8aee;
}

.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: @material-primary;
    border-color: transparent;
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: @material-success;
    border-color: #449d48;

    &:focus, &.focus {
        color: #fff;
        background-color: @material-success;
        border-color: transparent;
    }

    &:hover {
        color: #fff;
        background-color: @material-success;
        border-color: transparent;
    }

    &:active, &.active {
        color: #fff;
        background-color: @material-success;
        border-color: transparent;
        background-image: none;

        &:hover, &:focus, &.focus {
            color: #fff;
            background-color: #327334;
            border-color: #1e441f;
        }
    }

    .badge {
        color: @material-success;
        background-color: #fff;
    }
}

.open>.dropdown-toggle.btn-success:hover, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #327334;
    border-color: #1e441f;
}

.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: @material-success;
    border-color: transparent;
    background-image: none;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: @material-success;
    border-color: #449d48;
}

.btn-info {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00a5bb;

    &:hover {
        color: #fff;
        background-color: #00bcd4;
        border-color: transparent;
    }

    &:focus, &.focus {
        color: #fff;
        background-color: #00bcd4;
        border-color: transparent;
    }

    &:active, &.active {
        color: #fff;
        background-color: #00bcd4;
        border-color: transparent;
        background-image: none;

        &:hover, &:focus, &.focus {
            color: #fff;
            background-color: #006f7d;
            border-color: #00343b;
        }
    }

    .badge {
        color: #00bcd4;
        background-color: #fff;
    }
}

a.btn-info {
    color: #fff;
}

.open>.dropdown-toggle.btn-info:hover, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #006f7d;
    border-color: #00343b;
}

.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #00bcd4;
    border-color: transparent;
    background-image: none;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #00bcd4;
    border-color: #00a5bb;
}

.btn-warning {
    color: #fff;
    background-color: @material-warning;
    border-color: #e68900;

    &:hover {
        color: #fff;
        background-color: @material-warning;
        border-color: transparent;
    }

    &:focus, &.focus {
        color: #fff;
        background-color: @material-warning;
        border-color: transparent;
    }

    &:active, &.active {
        color: #fff;
        background-color: @material-warning;
        border-color: transparent;
        background-image: none;

        &:hover, &:focus, &.focus {
            color: #fff;
            background-color: #a86400;
            border-color: #663d00;
        }
    }

    .badge {
        color: @material-warning;
        background-color: #fff;
    }
}

.open>.dropdown-toggle.btn-warning:hover, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #a86400;
    border-color: #663d00;
}

.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: @material-warning;
    border-color: transparent;
    background-image: none;
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: @material-warning;
    border-color: #e68900;
}

.btn-danger {
    color: #fff;
    background-color: @material-danger;
    border-color: #f32c1e;

    &:hover {
        color: #fff;
        background-color: @material-danger;
        border-color: transparent;
    }

    &:focus, &.focus {
        color: #fff;
        background-color: @material-danger;
        border-color: transparent;
    }

    &:active, &.active {
        color: #fff;
        background-color: @material-danger;
        border-color: transparent;
        background-image: none;

        &:hover, &:focus, &.focus {
            color: #fff;
            background-color: #c8180b;
            border-color: #891008;
        }
    }

    .badge {
        color: @material-danger;
        background-color: #fff;
    }
}

.open>.dropdown-toggle.btn-danger:hover, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #c8180b;
    border-color: #891008;
}

.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: @material-danger;
    border-color: transparent;
    background-image: none;
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: @material-danger;
    border-color: #f32c1e;
}


.btn-link {
    color: @material-primary;
    font-weight: 400;
    border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
    //color: #0a6ebd;
    text-decoration: none;
    background-color: transparent;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 2px;
}

.btn-md {
    padding: 8px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 2px;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
.btn-block {
    display: block;
    width: 100%}
.btn-block+.btn-block {
    margin-top: 5px;
}
input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
    width: 100%}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

/*.fade.in {
    opacity: 1;
}*/

.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
tr.collapse.in {
    display: table-row;
}
tbody.collapse.in {
    display: table-row-group;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.dropup, .dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
    display: none;
    float: right;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: right;
    background-color: @dropdown-bg-color;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;

    &.pull-left {
        left: 0;
        right: auto;
    }

    .divider {
        height: 1px;
        margin: 2px;
        overflow: hidden;
        background-color: @border-color;
    }

    >li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: @dropdown-color;
        white-space: nowrap;

        &:hover, &:focus {
            text-decoration: none;
            color: #333;
            background-color: rgba(0, 0, 0, .075);
        }
    }

    >.active>a, >.active>a:hover, >.active>a:focus {
        color: #333;
        text-decoration: none;
        outline: 0;
        background-color: rgba(0, 0, 0, .075);
    }

}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    color: #e4e4e4;
}

.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.open>.dropdown-menu {
    display: block;
}
.open>a {
    outline: 0;
}
.dropdown-menu-left {
    right: auto;
    left: 0;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}
.dropdown-backdrop {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}
.pull-left>.dropdown-menu {
    left: 0;
    right: auto;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: ""}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
@media (min-width: @screen-sm-min) {
    .navbar-left .dropdown-menu {
        right: auto;
        left: 0;
    }
    .navbar-left .dropdown-menu-right {
        right: 0;
        left: auto;
    }
}

.btn-group>.btn:hover, .btn-group-vertical>.btn:hover, .btn-group>.btn:focus, .btn-group-vertical>.btn:focus, .btn-group>.btn:active, .btn-group-vertical>.btn:active, .btn-group>.btn.active, .btn-group-vertical>.btn.active {
    z-index: 2;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-right: -1px;
}
.btn-toolbar {
    margin-right: -5px;
}
.btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: right;
}
.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin-right: 5px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group>.btn:first-child {
    margin-right: 0;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group>.btn-group {
    float: right;
}
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0;
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0;
}
.btn-group>.btn+.dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}
.btn-group>.btn-lg+.dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn .caret {
    margin-right: 0;
}

.btn-lg .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0;
}

.dropup .btn-lg .caret {
    border-width: 0 5px 5px;
}

[data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=radio], [data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-floating {
    width: 48px;
    height: 48px;
    padding: 6px;
    border-radius: 50%;
    border: 0;
    font-size: 24px;

    &.large {
        width: 56px;
        height: 56px;
        padding: 14px;
    }

    ul {
        position: absolute;
        right: -3px;
        top: 0;
        z-index: 1;
        visibility: hidden;
        -webkit-transition: visibility 280ms cubic-bezier(0.35, 0, 0.25, 1) 280ms;
        transition: visibility 280ms cubic-bezier(0.35, 0, 0.25, 1) 280ms;
        padding: 52px 0 0 0;

        li {
            opacity: 0;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            list-style-type: none;
            margin: 10px 5px;
            -webkit-transition: all 280ms cubic-bezier(0.35, 0, 0.25, 1);
            transition: all 280ms cubic-bezier(0.35, 0, 0.25, 1);

            img {
                width: 36px;
                height: 36px;
                border: 1px solid #f0f0f0;
            }

            &:nth-child(1) {
                margin: 10px;
                -webkit-transition-delay: 420ms;
                transition-delay: 420ms;
            }

            &:nth-child(2) {
                -webkit-transition-delay: 320ms;
                transition-delay: 320ms;
            }

            &:nth-child(3) {
                -webkit-transition-delay: 220ms;
                transition-delay: 220ms;
            }

            &:nth-child(4) {
                -webkit-transition-delay: 120ms;
                transition-delay: 120ms;
            }

            &:nth-child(5) {
                -webkit-transition-delay: 20ms;
                transition-delay: 20ms;
            }
        }

        &.to-left {
            top: -6px;
            right: 0;
            padding: 0 0 0 52px;

            li {
                display: inline-block;
            }
        }

        &.to-right {
            top: -6px;
            left: 0;
            right: auto;
            padding: 0 60px 0 0;

            li {
                display: inline-block;

                &:nth-child(1) {
                    -webkit-transition-delay: 20ms;
                    transition-delay: 20ms;
                }

                &:nth-child(2) {
                    -webkit-transition-delay: 120ms;
                    transition-delay: 120ms;
                }

                &:nth-child(3) {
                    -webkit-transition-delay: 220ms;
                    transition-delay: 220ms;
                }

                &:nth-child(4) {
                    -webkit-transition-delay: 320ms;
                    transition-delay: 320ms;
                }

                &:nth-child(5) {
                    -webkit-transition-delay: 420ms;
                    transition-delay: 420ms;
                }
            }
        }

        &.to-top {
            padding: 0 0 42px 0;
            bottom: 0;
            top: auto;
            left: -5px;

            li {
                &:nth-child(1) {
                    -webkit-transition-delay: 20ms;
                    transition-delay: 20ms;
                }

                &:nth-child(2) {
                    -webkit-transition-delay: 120ms;
                    transition-delay: 120ms;
                }

                &:nth-child(3) {
                    -webkit-transition-delay: 220ms;
                    transition-delay: 220ms;
                }

                &:nth-child(4) {
                    -webkit-transition-delay: 320ms;
                    transition-delay: 320ms;
                }

                &:nth-child(5) {
                    -webkit-transition-delay: 420ms;
                    transition-delay: 420ms;
                }
            }
        }
    }

    &.show-on-hover {
        overflow: visible;

        .ripple {
            display: none;
        }

        &:hover {
            ul {
                visibility: visible;
                -webkit-transition-delay: 0;
                transition-delay: 0;

                li {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);

                    &:nth-child(1) {
                        -webkit-transition-delay: 20ms;
                        transition-delay: 20ms;
                    }

                    &:nth-child(2) {
                        -webkit-transition-delay: 120ms;
                        transition-delay: 120ms;
                    }

                    &:nth-child(3) {
                        -webkit-transition-delay: 220ms;
                        transition-delay: 220ms;
                    }

                    &:nth-child(4) {
                        -webkit-transition-delay: 320ms;
                        transition-delay: 320ms;
                    }

                    &:nth-child(5) {
                        -webkit-transition-delay: 420ms;
                        transition-delay: 420ms;
                    }
                }

                &.to-top, &.to-right {
                    li {
                        &:nth-child(1) {
                            -webkit-transition-delay: 420ms;
                            transition-delay: 420ms;
                        }

                        &:nth-child(2) {
                            -webkit-transition-delay: 320ms;
                            transition-delay: 320ms;
                        }

                        &:nth-child(3) {
                            -webkit-transition-delay: 220ms;
                            transition-delay: 220ms;
                        }

                        &:nth-child(4) {
                            -webkit-transition-delay: 120ms;
                            transition-delay: 120ms;
                        }

                        &:nth-child(5) {
                            -webkit-transition-delay: 20ms;
                            transition-delay: 20ms;
                        }
                    }
                }
            }
        }
    }
}

a.btn-primary {
    color: #fff;
}

.btn-default {
    background-color: @btn-default-bg-color;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color:#333;
    background-color: @btn-default-bg-color;
    border-color:transparent;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified>.btn,
.btn-group-justified>.btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}

.btn-group-justified>.btn-group .btn {
    width: 100%;
}

.btn-group-justified>.btn-group .dropdown-menu {
    right: auto;
}