.modal-content {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .31);
    border-radius: 2px;
    border: 0;
    color: @modal-text-color;
    background-color: @modal-bg-color;
}

.modal-header {
    padding: 23px 26px;

    h3, h4 {
        margin: 0;
    }

    .close {
        color: @body-color;
    }

    .bootstrap-tagsinput {
        background-color: @body-bg-color;
		border: 1px solid @border-color;

		.ui-autocomplete-input {
			color: @body-color !important;
		}
	}
}

.modal-body {
    padding: 20px;
    font-size: 14px;

    p {
        padding-right: 3px;
    }

    h3 {
        font-size: 16px;
    }

    .profile-image.small {
        .user-icon(32px, 1.9rem);
    }

    .close {
        color: @body-color;
    }

    .well {
        background-color: @body-bg-color;
        border: 1px solid @border-color;
    }
}

.modal-footer {
    border-top: 1px solid transparent;
}

.modal-footer .btn.btn-default {
    box-shadow: none !important;
    background-color: initial;
    color: @body-color;

    &:hover {
        background-color: @body-bg-color;
    }
}

.modal-footer .btn.btn-danger {
    box-shadow: none !important;
    color: @material-danger;
    background-color: #fff;

    &:hover {
        background-color: #eee;
    }
}

.modal-footer .btn.btn-primary, .chat-footer .btn.btn-primary {
    box-shadow: none !important;
    color: @material-primary;
    background-color: initial;

    &:hover {
        background-color: @body-bg-color;
    }
}

.chat-footer .btn.btn-warning {
    box-shadow: none !important;
    color: @material-warning;
    background-color: #fff;

    &:hover {
        background-color: #eee;
    }
}

.picture-switcher {

    .btn-group .btn {
        font-size: 11px;
    }

    .media-body {
        display: table-cell;
        width: 10000px;
    }

    h4 {
        margin: 0
    }

    .user-icon {
        .user-icon(46px, 2.5rem);
    }

    .media-object {
        .user-icon(46px, 2.5rem);
    }

    .modal-footer {
        .btn-link {
            color: #0a0a0a;

            &:hover {
                background-color: #eee;
            }
        }
    }
}

#move_thread_modal .category-list {
    height: auto !important;
    max-height: 500px;
}

.merge-topic-card {
	position: fixed;
	bottom: 10%;
	left: 2rem;
	z-index: 10;

	box-shadow: 0 5px 20px rgba(0, 0, 0, .31);
	color: @modal-text-color;
    background-color: @modal-bg-color;

    .panel-heading {
    	border-bottom: 1px solid @border-color;
    }

    .panel-footer {
    	color: @modal-text-color;
    	background-color: @modal-bg-color;
    	border-top: 1px solid @border-color;
    }

    .panel-footer .btn.btn-default {
	    box-shadow: none !important;
	    background-color: initial;
	    color: @body-color;

	    &:hover {
	        background-color: @body-bg-color;
	    }
	}

	.panel-footer .btn.btn-primary {
	    box-shadow: none !important;
	    color: @material-primary;
	    background-color: initial;

	    &:hover {
	        background-color: @body-bg-color;
	    }
	}
}