.material-load-bar {
    width: 100%;
    height: 3px;
    background-color: #fdba2c;
    z-index: 11;
    position: fixed;
    top: 0;
}

.material-bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    right: 50%;
    text-align: center;
}

.material-bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}

.material-bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}

.material-bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        right: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        right: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        right: 0;
        width: 100%;
    }
}